<main class="page-wrap">
    <hgroup>
    </hgroup>
    <form ng-submit="ctrl.addRecipe()">
        <div class="group">
            <input type="text" name="title" id="title" ng-model="ctrl.newRecipe.title"><span class="highlight" placeholder="Lemon Chicken"></span><span class="bar"></span>
            <label>Title</label>
        </div>
        <div class="group">
            <input type="text" name="type" id="type" ng-model="ctrl.newRecipe.type"><span class="highlight"></span><span class="bar"></span>
            <label>Type</label>
        </div>
                <div class="group">
            <input type="text" name="description" id="description" ng-model="ctrl.newRecipe.description"><span class="highlight"></span><span class="bar"></span>
            <label>Description</label>
        </div>
                <div class="group">
            <input type="text" name="instructions" id="instructions" ng-model="ctrl.newRecipe.instructions"><span class="highlight"></span><span class="bar"></span>
            <label>Instructions</label>
        </div>
                <div class="group">
            <input type="number" name="cooktime" id="cooktime" ng-model="ctrl.newRecipe.cooktime"><span class="highlight"></span><span class="bar"></span>
            <label>Cook Time</label>
        </div>
                <div class="group">
            <input type="number" name="preptime" id="preptime" ng-model="ctrl.newRecipe.preptime"><span class="highlight"></span><span class="bar"></span>
            <label>Prep Time</label>
        </div>
                <div class="group">
            <input type="text" name="photo" id="photo" ng-model="ctrl.newRecipe.photo"><span class="highlight"></span><span class="bar"></span>
            <label>Photo</label>
        </div>

        <input type="submit" class="button buttonBlue" value="Create Recipe">
    </form>
</main>
