<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="angular/angular.min.js" defer></script>
    <script type="text/javascript" src="angular-ui-router/release/angular-ui-router.min.js" defer></script>
    <script type="text/javascript" src="javascripts/client.js" defer></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.green-indigo.min.css" />
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js" defer></script>
    <script type="text/javascript" src="angular-animate/angular-animate.js" defer></script>
    <base href="/">


  </head>
  <body ng-app="recipesApp">


<!-- NAVBAR -->

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title" ui-sref="home">Big Green Recipes</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" ui-sref="home">Home</a>
        <a class="mdl-navigation__link" ui-sref="recipes">Recipes</a>
      </nav>
    </div>
  </header>


<div class="mdl-layout__drawer">

<% if (currentUser) { %>
    <span class="mdl-layout-title"><%= currentUser.local.email %></span>
    <% } else { %>
    <span class="mdl-layout-title">Welcome</span>
        <% } %>

    <nav class="mdl-navigation">
          <% if (currentUser) { %>
      <a class="mdl-navigation__link" href="/users/<%= currentUser._id %>">Edit Account</a>
      <a class="mdl-navigation__link" href="/logout">Log Out</a>
      <a class="mdl-navigation__link" href="">Add Recipe</a>

          <% } else { %>
          <a class="mdl-navigation__link" href="/login">Login</a></li>
          <a class="mdl-navigation__link" href="/signup">Signup</a></li>
        <% } %>

    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
    <!-- Your content goes here -->
    <div ui-view=""></div>
    </div>
  </main>
</div>








  </body>
</html>
