<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="angular/angular.min.js" defer></script>
    <script type="text/javascript" src="angular-ui-router/release/angular-ui-router.min.js" defer></script>
    <script type="text/javascript" src="javascripts/client.js" defer></script>
  </head>
  <body ng-app='recipesApp' ng-controller='recipesCtrl as ctrl'>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
    <li ng-repeat="recipe in ctrl.recipes">{{recipe.title}}</li>
    </ul>
  </body>
</html>
